.main_container{
    width:100vw;
    height: 400px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_container form{
    width: 30vw;
    height: 300px;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_container label{
    display: block;
    text-align: center;
    margin: 7px 0px;
}

.main_container input{
    display: block;
    text-align: center;
    width: 70%;
    height: 20px;
}

.main_container button{
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 20px;
}